// Portfolio Modal 2
#portfolioModal2.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal2', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Portfolio Modal - Title
                            h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 AMDI
                            // Icon Divider
                            .divider-custom
                                .divider-custom-line
                                .divider-custom-icon
                                    i.fas.fa-star
                                .divider-custom-line
                            // Portfolio Modal - Image
                            img.img-fluid.rounded.mb-5(src='assets/img/portfolio/amdi.png', alt='...')
                            // Portfolio Modal - Text
                            p App and portal for organisations and individuals to track marine debris removal and prevention
                            p Rearchitecture project - Cloud, database, middleware, geo-spatial, apis, super admin, organisation admin
                            P
                                a.text-black(href='https://tangaroablue.org/about-amdi/', target='_blank') tangaroablue.org
                            button.btn.btn-primary(data-bs-dismiss='modal')
                                i.fas.fa-xmark.fa-fw
                                | Close Window