// Portfolio Modal 8
#portfolioModal8.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal8', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Portfolio Modal - Title
                            h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Gheorg
                            // Icon Divider
                            .divider-custom
                                .divider-custom-line
                                .divider-custom-icon
                                    i.fas.fa-star
                                .divider-custom-line
                            // Portfolio Modal - Image
                            img.img-fluid.rounded.mb-5(src='assets/img/portfolio/gheorg.png', alt='...')
                            // Portfolio Modal - Text
                            p App and portal for children to help improve their emotional intelligence and mental wellbeing
                            p New build by BlueChilli - Cloud, database, middleware, apis, super admin, clinic portal
                            P
                                a.text-black(href='https://www.gheorg.com/', target='_blank') www.gheorg.com
                            button.btn.btn-primary(data-bs-dismiss='modal')
                                i.fas.fa-xmark.fa-fw
                                | Close Window